<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrateur</title>
    <link rel="stylesheet" href="./static/css/home.css">
</head>
<body>

<h1>Super User Ajout</h1>

<form action="/ajout" method="post">
  Utilisateur :
  <input type="text" name='username' autofocus  placeholder="Nom d'utilisateur"><br><br>
  Mot de passe :

  <input  type="password" name='password'  placeholder="Mot de passe"><br><br>

    <input class="bouton" type="submit" value="Connexion">
</form>

<h2>{{info}}</h2>

<form action="/" method="post">
<input type="submit" name="decon" value="Revenir accueil" class="bouton">
</form>

</body>
</html>